<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(to right, #D3CCE3, #E9E4F0);
      font-family: 'Arial', sans-serif;
      margin: 0;
    }
    .form-signin {
      width: 100%;
      max-width: 360px;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .form-signin h1 {
      margin-bottom: 20px;
      font-weight: 700;
      color: #6A11CB;
      font-size: 24px;
    }
    .form-signin .form-control {
      height: auto;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      margin-bottom: 15px;
      transition: border-color 0.3s, box-shadow 0.3s;
    }
    .form-signin .form-control:focus {
      border-color: #6A11CB;
      box-shadow: 0 0 10px rgba(106, 17, 203, 0.4);
    }
    .form-signin .btn {
      font-size: 16px;
      font-weight: 700;
      background-color: #6A11CB;
      border: none;
      border-radius: 5px;
      padding: 10px;
      transition: background-color 0.3s, transform 0.3s;
      margin-top: 10px;
    }
    .form-signin .btn:hover {
      background-color: #2575FC;
      transform: translateY(-2px);
    }
    .error-message, .notice-message {
      margin-top: 10px;
    }
    .error-message {
      color: red;
    }
    .notice-message {
      color: green;
    }
  </style>
</head>
<body>
  <div class="form-signin">
    <h1>Sign In / Register</h1>
    <% if @error_message %>
      <div class="error-message">
        <%= @error_message %>
      </div>
    <% end %>
    <% if @notice_message %>
      <div class="notice-message">
        <%= @notice_message %>
      </div>
    <% end %>
    <%= form_for(:session, url: login_path, html: { class: 'form-signin' }) do |f| %>
      <%= f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Username' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      <%= f.submit 'Sign in', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</body>
</html>
